<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s_kugel.aldra.database.repository.BatchLogMapper">
    <update id="updateBatchEndLog">
        UPDATE batch_log
        SET status = #{status},
            exit_datetime = CURRENT_TIMESTAMP,
            exit_message = #{exitMessage},
            updated_at = CURRENT_TIMESTAMP,
            updated_by = #{updatedBy},
            version = version + 1
        WHERE id = #{id}
    </update>
</mapper>
